.card {width: 30%;}

img {
  display: inline-block;
}

.s {
  width: 30px;
  height: 30px;
}

.m {
  width: 60px;
  height: 60px;
  font-size: 12px;
}

.l {
  width: 120px;
  height: 120px;
  font-size: 15px;
}

.xl {
  width: 200px;
  height: 200px;
  font-size: 18px;
}

.rounded {
  border-radius: 10px;
}

.circle {
  border-radius: 50%;
}

.square {
  border: none;
}

